@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url(footer.css);
:root{
    --fonte-primaria: 'Montserrat', serif;
    --cor-fundo-primaria: #f9f7fe;
    --cor-fundo-header: #FFFFFF;
    --cor-texto-header: #333333;
    --cor-texto-main: #464646;
    --cor-botao-ligar: #FFB050;
    --cor-botao-endereco: #4894FF;
    --cor-texto-secundaria: #A3A3A3;
    --cor-borda-botao: #ECECEC;
}

body{
    font-family: var(--fonte-primaria);
    background-color: var(--cor-fundo-primaria);
    font-size: 16px;
    font-weight: 500;
    height: 100vh;
    width: 100vw;
}

main{
    padding-bottom: 3rem;
}

.cabecalho{
    background-color: #ffffff;
    display: flex;
    font-family: var(--fonte-primaria);
    justify-content: space-between;
    padding: 1rem;
}

.cabecalho__icones{
    display:flex;
    gap: 1rem;
}

.cabecalho__hora{
    font-size: 0.875rem;
    font-weight: 400;
}

.inicio{
    display: flex;
    margin: 40px 30px;
    align-items: center;
    gap: 1em;
}

.inicio__foto{
    height: 4rem;
    border-radius: 50%;
}

.inicio__titulo{
    font-size: 22.5px;
    font-weight: 700;
    padding: 10px 0;
    color: var(--cor-texto-main)
}

.inicio__info{
    font-size: 14px;
    font-weight: 400;
    color: var(--cor-texto-secundaria);
}

.botao{
    border-radius: 8px;
    text-decoration: none;
    padding: 1rem 1rem;
}

.video{
    background-color: var(--cor-botao-ligar);
    color: var(--cor-fundo-header);
    font-size: 0.875rem;
    margin-left: 0.2em;
    margin-right: 1.5em;
    
}

.audio{
    border: 1px solid var(--cor-borda-botao);
    color: var(--cor-texto-main);
    font-size: 0.875rem;
}

.atendimento__foto{
    border-radius: 50%;
    height: 40px;
    margin-right: 0.5em;
}

.dia__nome{
    font-weight: 700;
    margin-left: 1em;
}

.atendimento{
    background-color: var(--cor-fundo-header);
    border-radius: 5%;
    margin: 1em 0.5em;
    padding: 1em 1em;
    border: 1px solid var(--cor-borda-botao);
}

.parte__superior{
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.dados__consulta{
    display:flex;
    align-items: center;
    gap: 5px;
    margin-top: 0.5em;
}

.atendimento__modo{
    font-size: 12px;
    color: var(--cor-texto-secundaria)
}

.icone__modo{
    width: 15px;
}

.atendimento__nome{
    font-size: 14px;
    font-weight: 700;
}

.atendimento__dados{
    margin-right: 6.5em;
}

.linha{
    border-color: rgba(70, 70, 70, .1);
}

.parte__inferior{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    margin-bottom: 1em;
}

.atendimento__horario{
    font-size: 0.75rem;
    color: var(--cor-texto-main);
    margin-left: 0.5em;
    margin-bottom: 0.2em;
}

.botao__endereco{
    border-radius: 8px;
    text-decoration: none;
    background-color: var(--cor-botao-endereco);
    color: var(--cor-fundo-header);
    padding: 1rem 7.125rem;
    font-size: 0.875rem;
    
}



.video:hover{
    background-color: var(--cor-fundo-primaria);
    color: var(--cor-botao-ligar);
    border: 1px solid var(--cor-botao-ligar);
}

.video:active{
    background-color: var(--cor-botao-ligar);
    color: var(--cor-fundo-header);
}

.audio:hover{
    background-color: var(--cor-texto-main);
    color: var(--cor-fundo-primaria);
    border: 1px solid var(--cor-fundo-primaria);
}

.audio:active{
    border: 1px solid var(--cor-borda-botao);
    background-color: var(--cor-fundo-primaria);
    color: var(--cor-texto-main);
    font-size: 14px;
}
.botao__endereco:hover{
    background-color: var(--cor-fundo-primaria);
    color: var(--cor-botao-endereco);
    border: 1px solid var(--cor-botao-endereco);
}
.botao__endereco:active{
    background-color: var(--cor-botao-endereco);
    color: var(--cor-fundo-header);
}



@media screen and (min-width:768px){
    .dia__consultas{
        display: flex;
        flex-wrap: wrap;
    }
  
}

@media screen and (min-width:1440px){
    .botoes__container{
        display:none;
    }

    .menu-fixo {
        top: 0;
        bottom: 0;
        left: 0;
        right: auto;
        width: 200px;
        height: 100vh;
    }

    .menu-itens{
        flex-direction: column;
        justify-content: flex-start; /* Alterado para flex-start */
        align-items: flex-start; /* Alinhar à esquerda */
        gap: 2rem; /* Espaçamento reduzido */
        margin-top: 3rem;
        width: 100%;
    }

    .menu-icone{
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        width: 100%;
        padding: 0.5rem 1rem; 
    }

    .menu-icone__texto{
        font-size: 1.5rem; 
     
    }

    .menu-icone__imagem{
        width: 2rem; 
}

    .cabecalho{
        display: none;
    }

    main {
        margin-left: 200px;
        padding: 2rem;
    }
    

}

